body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #c2bfe0;
    color: white;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}

.arrow-icon {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 70px;
    cursor: pointer;
}

.arrow-left { transform: rotate(180deg); }
.arrow-up { transform: rotate(-90deg); }
.arrow-down { transform: rotate(90deg); }

.nav-title {
    margin: 5;
    font-size: 2em;
}

.nav-right {
    display: flex;
    align-items: center;
}

input[type="text"] {
    margin-left: 10px;
    padding: 5px;
}


/* Centered container for the switchable images */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Adjust the height as needed */
}


.switchable-image {
    width: 50vw; /* 50% of the viewport width */
    height: 30vh; /* 50% of the viewport height */
    cursor: pointer; /* Change cursor to pointer on hover for better user experience */
    margin: 0 10px; /* Adjust the margin as needed */
}

footer {
    background-color: rgb(181, 164, 223);
    height: 1cm;
}